/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: red;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Lato', Helvetica, Helvetica Neue, Arial;
	background: #f4f4f4;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
    MOBILE: Main
   ============== */


.footer-container footer {
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
	color: #FFBA00;
	text-decoration: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	display: inline-block;
}
a:hover, a:focus {
	color: #DA7400;
}
a:active {
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
}
h1.title, h1.note {
	margin: 0;
}
.title {
	text-align: center;
}
.title .logo {
	width: 100%;
	max-width: 347px;
}
.main h1.note {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 1.2em;
	text-align: center;
	font-size: 1.5em;
	font-weight: 400;
}
.float-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.float-list li {
  float: left;
  padding: 0;
  vertical-align: top;
}
.float-list li:first-child {
}
.navWrap {
}
.navWrap .nav {
  display: block;
  cursor: pointer;
  border-radius: 14px;
  margin: 0 0 15px;
  width: 46%;
  float: left;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.1))), /* dark outside gradient */ -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(210, 210, 210, 0.3)), color-stop(20%, rgba(210, 210, 210, 0)), color-stop(80%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.3))), /* light inner gradient */ -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.3)), color-stop(80%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  line-height: 117px;
}
.navWrap .nav img {
	width: 100%;
}
.navWrap .nav.ebay img {
	max-width: 256px;
}
.navWrap .nav.amazon img {
	max-width: 438px;
}
	
.navWrap .nav:first-child {
	margin-right: 8%;
}
.navWrap .nav:hover {
  transform: translate3d(0, 2px, 0);
  -ms-transform: translate3d(0, 2px, 0);
  -webkit-transform: translate3d(0, 2px, 0);
}
.navWrap .nav:active {
  transform: translate3d(0, 6px, 0);
  -ms-transform: translate3d(0, 6px, 0);
  -webkit-transform: translate3d(0, 6px, 0);
}
.navWrap .nav.ebay {
  background-color: #FFBA00;
  -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 6px 0px 0px #C38E00, 0px 10px 6px -1px #A1A1A1;
  box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 6px 0px 0px #C38E00, 0px 10px 6px -1px #A1A1A1;
}
.navWrap .nav.ebay:hover {
  -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 4px 0px 0px #C38E00, 0px 7px 6px -1px #A1A1A1;
  box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 4px 0px 0px #C38E00, 0px 7px 6px -1px #A1A1A1;
}
.navWrap .nav.ebay:active {
  -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 2px 0px 0px #C38E00, 0px 3px 6px -1px #A1A1A1;
  box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 2px 0px 0px #C38E00, 0px 3px 6px -1px #A1A1A1;
}
.navWrap .nav.amazon {
  background-color: #FFBA00;
  -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 6px 0px 0px #C38E00, 0px 10px 6px -1px #A1A1A1;
  box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 6px 0px 0px #C38E00, 0px 10px 6px -1px #A1A1A1;
}
.navWrap .nav.amazon:hover {
  -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 4px 0px 0px #C38E00, 0px 7px 6px -1px #A1A1A1;
  box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 4px 0px 0px #C38E00, 0px 7px 6px -1px #A1A1A1;
}
.navWrap .nav.amazon:active {
  -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 2px 0px 0px #C38E00, 0px 3px 6px -1px #A1A1A1;
  box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 2px 0px 0px #C38E00, 0px 3px 6px -1px #A1A1A1;
}

.footer-container {
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #fff;
  margin-top: 60px;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (max-width: 800px) {

	.navWrap .nav {
	  width: 100%;
	}
	.navWrap .nav:first-child {
		margin-right: 0%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}